:root {
    --primary-color: #171100;
    --secondary-color: #ffb900;
    --title-font: "Sen", sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: calc(100% - 48px);
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-width: 118px;
    background-color: var(--secondary-color);
    font-weight: 600;
    padding: 10px 41px;
}

/* header */

.nav {
    width: 1170px;
    padding:36px 0 8px;
    /* background: #fffcf4; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-fixed{
    position: sticky;
    z-index: 1;
    top: -28px;
    background-color: #fffcf4;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--primary-color);
    font-family: var(--title-font);
    font-weight: 700;
    font-weight: 700;
    font-size: 24px;
}

.nav__list-items {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75em;
    margin-right: 42px;
    text-align: center;
}

.nav__list-items a {
    color: #5f5b53;
}

.nav__list-items:first-child {
    font-weight: 600;
}

.nav__list-items:first-child::after {
    content: "";
    display: flex;
    position: absolute;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.nav__list-items:hover {
    font-weight: 600;
    color: var(--primary-color);
}

.nav__list-items:last-child {
    margin-left: 28px;
    margin-right: 0;
}

.btn__signup {
    height: 49px;
    font-weight: 600;
    border-radius: 24.5px;
    cursor: pointer;
    background-color: var(--primary-color);
}

.btn__signup:hover {
    opacity: 0.9;
}

.btn__signup a {
    color: #fff;
}

/* Header Hero */
.hero {
    background-color: #FFFCF4;
    display: flex;
    padding-top: 36px;
}

.hero_image {
    display: flex;
    position: relative;
    width: 50vw;
    height: 685px;
    padding-right: 100px;
}

.hero_courses-stats {
    right: 0;
    bottom: 48px;
    width: 270px;
    height: 244px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 24px;
}

.hero_courses-stats-items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
}

.hero_courses-stats-items .icon {
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.courses_desc {
    margin-left: 16px;
}

.courses_desc p {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86em;
    color: #5f5b53;
}

.courses_desc strong {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67em;
    color: var(--primary-color);
}

.hero_content {
    width: 50vw;
    padding: 64px 0 64px 128px;
}

.hero_content .title {
    font-weight: 700;
    font-size: 5.8rem;
    font-family: var(--title-font);
    line-height: 1.17em;
    letter-spacing: -0.03em;
    color: var(--primary-color);
}

.hero_content .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67em;
    color: #5f5b53;
    padding: 22px 0 38px;
}

.hero_content .btn-list {
    /* padding-top: 38px; */
    height: 64px;
    align-items: center;
    display: flex;
}

.hero_content .btn-cta {
    width: 180px;
    height: 64px;
    background: var(--secondary-color);
    border-radius: 32px;
    padding: 17px 33px;
    margin-right: 28px;
}

.hero_content .btn-cta:hover {
    opacity: 0.9;
}

.hero_content .play-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hero_content .icon-play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
}

.hero_content .icon-play .image {
    height: 12px;
    width: 12px;
}

.hero_content .btn-list span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67em;
}

.hero_content .info {
    margin-top: 48px;
}

.hero_content .info-title {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67em;
    color: #5f5b53;
}

.hero_content .info-desc{
    margin:8px 28px 0 0;
    display: inline-block;l
}

.hero_content .info-desc strong {
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23em;
    color: #171100;
    margin-right: 10px;
}
