:root {
    --primary-color: #171100;
    --secondary-color: #ffb900;
    --title-font: "Sen", sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: calc(100% - 48px);
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-width: 118px;
    background-color: var(--primary-color);
    font-weight: 600;
    padding: 10px 41px;
    border-radius: 999px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

/* header */

.nav {
    width: 1170px;
    padding:36px 0 8px;
    /* background: #fffcf4; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.nav-fixed{
    position: sticky;
    z-index: 1;
    top: -28px;
    background-color: #fffcf4;
}

.nav__list {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-left: auto;
}

.logo {
    color: var(--primary-color);
    font-family: var(--title-font);
    font-weight: 700;
    font-weight: 700;
    font-size: 24px;
}

.nav__list{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75em;
    text-align: center;
    margin-right: 49px;

}

.nav__list a {
    position: relative;
    color: #5f5b53;
    padding: 8px 21px;
}

.nav__list a:hover,
.nav__list li.active a{
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: var(--primary-color);
}


.nav__list li.active a::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 21px;
    bottom:6px;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.btn__signup {
    height: 49px;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--primary-color);
}

.btn__signup:hover {
    opacity: 0.9;
}

.btn__signup a {
    color: #fff;
}

/* Header Hero */
.hero {
    background-color: #FFFCF4;
    padding-top: 36px;
}

.hero-body{
    display: flex;
}

.hero_image {
    display: flex;
    position: relative;
    width: 50vw;
    height: 685px;
    padding-right: 100px;
}

.hero_courses{
    right: 0;
    bottom: 48px;
    width: 270px;
    height: 244px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 24px;
}

.hero_courses li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
}

.hero_courses li .icon {
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.courses_desc {
    margin-left: 16px;
}

.courses_desc p {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.courses_desc strong {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--primary-color);
}

.hero_content {
    width: 50vw;
    padding: 64px 0 64px 128px;
}

.hero_content .title {
    font-weight: 700;
    font-size: 5.8rem;
    font-family: var(--title-font);
    line-height: 1.17;
    letter-spacing: -0.03em;
    color: var(--primary-color);
}

.hero_content .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
    padding: 22px 0 38px;
}

.hero_content .btn-list {
    /* padding-top: 38px; */
    height: 64px;
    align-items: center;
    display: flex;
}

.hero_content .btn-cta {
    width: 180px;
    height: 64px;
    background: var(--secondary-color);
    padding: 17px 33px;
    margin-right: 28px;
}

.hero_content .btn-cta:hover {
    opacity: 0.9;
}

.hero_content .play-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hero_content .icon-play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
}

.hero_content .icon-play .image {
    height: 12px;
    width: 12px;
}

.hero_content .btn-list span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero_content .info {
    margin-top: 48px;
}

.hero_content .info-title {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero_content .info-desc{
    margin:8px 28px 0 0;
    display: inline-block;l
}

.hero_content .info-desc > strong {
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: var(--primary-color);
    margin-right: 10px;
}

.popular{
    margin-top: 135px;
    padding: 65px 0;
}

.popular .title{
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    font-family: var(--title-font);
    color: var(--primary-color);
}

.popular .desc{
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
    align-items: center;
}

.popular .desc-btn{
    display: flex;
    gap: 18px;
    align-items: center;
}

.popular .desc p{
    width: 458px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.popular .control-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:transparent;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular .control-btn:hover{
    background-color: var(--secondary-color);
    color: #fff;
}

.bottom-row{
    padding-top: 65px;
}

.courses-lists{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.courses-lists .list-items{
    width: calc(100% / 3);
    height: 467px;
    border-radius: 12px;
    background-color: #fff;
    border: 1px solid #e2dfda;
}

.courses-lists .list-items:hover{
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);;
}

.courses-lists .thumb{
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.courses-lists .items-desc{
    padding: 24px;
}

.items-desc .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.items-desc .title{
    padding-right: 6px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--primary-color);
    font-family: "Poppins", sans-serif;
}

.items-desc .title a{
    color: var(--primary-color);
}

.items-desc .rating{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.items-desc .star{
    height: 18px;
    width: 18px;
}

.items-desc .value{
    margin-left: 6px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--secondary-color);
}

.items-desc .desc{
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.items-desc .bottom{
    display: flex;
    margin-top: 17px;
    justify-content: space-between;
    align-items: center;
}

.items-desc .bottom .btn{
    width: 120px;
    height: 52px;
    padding-left: 16px;
    padding-right: 16px;
}

.items-desc .bottom .btn:hover{
    background-color: var(--secondary-color);

}

.items-desc .bottom span{
    font-weight: 600;
    color: var(--primary-color);
}

/* Feedback */
.feedback{
    margin-top: 135px;
    padding: 96px 0;
    background: #2e2100;
}

.feedback-list{
    display: flex;
    overflow: hidden;
}

.feedback-item{
    display: flex;
    width: 100%;
    flex-shrink: 0;
    justify-content: space-between;
}

.feedback .avatar{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .info .title{
    font-family: var(--title-font);
    margin-top: 18px;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #fff;
}

.feedback-item .info .desc{
    margin-top: 4px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.feedback-item .info .dots{
    margin-top: 28px;
    display: flex;
}
.feedback-item .info .dot{
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #634700;
    cursor: pointer;
}

.feedback-item .info .dot.active{
    background-color: var(--secondary-color);
    cursor: default;
}

.feedback .content {
    width: 66%;
}

.feedback-item blockquote {
    margin-left: 30px;
    font-style: italic;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}